{% extends 'base.html' %}

{% block title %}
    Help & About
{% endblock %}

{% block body %}
    <div class="ms-3">
        <h1>Магазин Электроники "ТехноМир"</h1>
        <p>Добро пожаловать на <strong>ТехноМир</strong> — ваш универсальный магазин современной электронной техники! Мы предлагаем широкий ассортимент товаров от ведущих мировых производителей, чтобы удовлетворить все ваши технологические потребности.</p>

        <h2>Ассортимент продукции:</h2>
        <ul>
            <li><strong>Смартфоны и аксессуары:</strong> новейшие модели от Apple, Samsung, Xiaomi и других популярных брендов. Защитные чехлы, зарядные устройства и прочие аксессуары.</li>
            <li><strong>Ноутбуки и компьютеры:</strong> ноутбуки для работы и учебы, игровые компьютеры, мониторы и периферийные устройства.</li>
            <li><strong>Телевизоры и аудиосистемы:</strong> 4K и Smart TV, саундбары, домашние кинотеатры и акустические системы.</li>
            <li><strong>Бытовая техника:</strong> умные пылесосы, кухонные гаджеты, системы умного дома и многое другое.</li>
            <li><strong>Игровые консоли и аксессуары:</strong> PlayStation, Xbox, Nintendo и все необходимое для увлекательных игр.</li>
        </ul>

        <h2>Преимущества покупок в "ТехноМир":</h2>
        <ul>
            <li><strong>Гарантия качества:</strong> все товары сертифицированы и имеют официальную гарантию.</li>
            <li><strong>Выгодные цены:</strong> регулярные акции и скидки, специальные предложения для постоянных клиентов.</li>
            <li><strong>Быстрая доставка:</strong> оперативная доставка по всей стране, возможность самовывоза из пунктов выдачи.</li>
            <li><strong>Поддержка клиентов:</strong> квалифицированная служба поддержки готова помочь вам с любыми вопросами и предложить консультацию по выбору товара.</li>
        </ul>

        <h2>Удобство покупок:</h2>
        <p>Наш сайт создан для вашего удобства. Интуитивно понятный интерфейс, подробные описания и характеристики товаров, отзывы покупателей и рейтинги помогут вам сделать правильный выбор. Безопасные методы оплаты и защита данных гарантируют безопасность ваших транзакций.</p>

        <h2>Присоединяйтесь к нам:</h2>
        <p>Подпишитесь на нашу рассылку, чтобы первыми узнавать о новых поступлениях и акциях. Следите за нами в социальных сетях, чтобы быть в курсе последних новинок и участвовать в розыгрышах призов.</p>
    </div>
{% endblock %}