<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}
            Base Title
        {% endblock %}
    </title>

    <div class="loader"></div>

    <link
            rel="stylesheet"
            href="{{ url_for('static', filename='css/main.css') }}"
    >
</head>
<body>
{# Будет переопределен блоком в index.html #}
{% block body %}
    Base body
{% endblock %}
<footer class="margin-top">
    {% block footer %}
    &copy; OTUS 2024
    {% endblock %}
</footer>

</body>
</html>