body {
    background: #dacf82;
    font-family: 'Bradley Hand', 'Arial Black', serif;
    font-size: 30px;
}

#product-name-id {
    font-size: 25px;
}

#product-name-id::placeholder {
    font-family: "Bradley Hand", sans-serif;
    font-size: 27px;
}

input[type="submit"] {
    font-family: 'Bradley Hand', sans-serif;
    font-size: 28px;
}

.green-text {
    color: green;
}

.link-no-underline {
    text-decoration: none;
}

h1.green-text {
    color: #2659dc;
    text-align: center;
    text-decoration: underline;
}


.margin-top {
    margin-top: 100px;
}

.margin-top-small {
    margin-top: 50px;
}

.margin-left {
    margin-left: 10px;
}

.padding-add-button {
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 0px;
    padding-top: 3px;
}


.loader {
  width: 40px;
  aspect-ratio: 1;
  position: relative;
}
.loader:before,
.loader:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  margin: -10px 0 0 -10px;
  width: 18px;
  aspect-ratio: 1;
  background: #3FB8AF;
  animation:
    l1-1 2s  infinite,
    l1-2 .5s infinite;
}
.loader:after {
  background:#FF3D7F;
  animation-delay: -1s,0s;
}
@keyframes l1-1 {
  0%   {top:0   ;left:0}
  25%  {top:100%;left:0}
  50%  {top:100%;left:100%}
  75%  {top:0   ;left:100%}
  100% {top:0   ;left:0}
}
@keyframes l1-2 {
   80%,100% {transform: rotate(0.7turn)}
}

/* CSS */
.button-56 {
  align-items: center;
  background-color: #fee6e3;
  border: 2px solid #111;
  border-radius: 8px;
  box-sizing: border-box;
  color: #111;
  cursor: pointer;
  display: flex;
  font-family: "Bradley Hand",sans-serif;
  font-size: 27px;
  height: 48px;
  justify-content: center;
  line-height: 24px;
  max-width: 100%;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-56:after {
  background-color: #111;
  border-radius: 8px;
  content: "";
  display: block;
  height: 48px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform .2s ease-out;
  z-index: -1;
}

.button-56:hover:after {
  transform: translate(0, 0);
}

.button-56:active {
  background-color: #ffdeda;
  outline: 0;
}

.button-56:hover {
  outline: 0;
}

@media (min-width: 768px) {
  .button-56 {
    padding: 0 40px;
  }
}